//$rojo: yellow;

// h3 {
//   color: $rojo;
// }

.menu-margin{
  margin-bottom: 100px;
}

.card-hover:hover {
  opacity: 0.5;
}

.red-text {
  color: red;
}

.green-text {
  color: lightgreen;
}

.iconBlue {
  color: dodgerblue;
  cursor: pointer;
}

.iconRed {
  color: red;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.PasswordValidation {
  background: GhostWhite;
  width: 75%;
}

.backgroundLogin {
  background: GhostWhite;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.right {
  float: right;
}

#master-offline-banner {
  font-size: 18px;
}

a.active {
  text-decoration: none;
  color: orange;
}

.table-layout-fixed{
  table-layout: fixed;
}

.AlignRight{
  display: flex; 
  justify-content: flex-end;
}

.line{
  color:dodgerblue; 
  background-color: "dodgerblue";
  height: 1;
}

.bg-dodgerblue { background-color:dodgerblue; }
.bg-purple { background-color: #6f42c1; }
.bg-red { background-color: #F44336; }
.bg-light-green { background-color: #8BC34A; }
.bg-teal { background-color: #009688; }
.bg-blue-grey { background-color: #607D8B; }
.bg-low-green { background-color: #00cc00; }
.bg-low-blue { background-color: #337ab7; }
.low-blue { color: #337ab7; }